@import 'bootstrap';
@import 'header';
@import 'footer';
@import 'button';
@import 'home';
@import 'about';
@import 'deckNew';
@import 'deckIndex';
@import 'deckShow';
@import 'termCard';

@import 'notFound';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
	/* dark shades of primary colors */

	--grey: #494643;

	/* primary colors */
	--primary-white: #f4ebe1;
	--primary-blue: #0998dc;
	--primary-orange: #f48d33;
	--primary-grey: #181716;

	/* lighter shades of primary colors */
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	line-height: 1.6;
	background: var(--light-grey);
	color: var(--grey);
	margin: 0 0 150px;
}
