.deck-container {
	border: 3px solid black;
	width: 21rem;
	height: 15rem;
	padding: 2rem;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
}

.deck-text-card {
}

.deck-content {
	margin-bottom: 25px;
}

.deck-icon-container {
	position: absolute;
	bottom: 0;
	align-self: center;
	margin-bottom: 7px;
	display: flex;
	justify-content: space-between;
}

.deck-icons {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
